*{
  box-sizing: border-box;
}
html{
  background-color: #dded;
}
section{
  padding: 40px;
}
.App{
  width: 990px;
  margin: 10px auto;
  background-color: #fff;
}
header{
  width: 100%;
  height: 55px;
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items:stretch;
  padding: 20px 15px;
}
.header-title{
  font-size: 14.46px;
  color: #fff;
}
.header-icon{
  margin-right: 7px;
}
.header-icon i{
 color: #fff;
 font-size: 24px;
}
.card{
  /* width:900px; */
  display: flex;
  align-items:center;
}
.card .img-box{
  width:535px;
  height: 268px;
}
.card .img-box img{
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
.info{
  margin-left: 22px;
}
.location-icon{
  font-size: 14px;
  color: #F55A5A;
}
.location-country{
  letter-spacing: 4px;
  margin-left: 5px;
  font-size: 14px;
}
.location-map a{
 color: #918E9B;
 margin-left: 7px;
 font-size: 13.24px;
}
.info .date-from,
.info .date-to
{
  font-weight: bold;

}
